if $(RTOS_PATH) != ""
    source "$(RTOS_PATH)/arch/Kconfig"
    source "$(RTOS_PATH)/config/toolchains/Kconfig"
    source "$(RTOS_PATH)/boards/Kconfig"
endif

if $(PROJECT_DIR) != ""
    source "$(PROJECT_DIR)/Kconfig"
endif
