config ARCH
    string
    default "$(RTOS_PATH)/arch/aarch64" if BOARD_QEMU_VIRT_AARCH64
    default "$(RTOS_PATH)/arch/i686"   if BOARD_QEMU_I686
    default "$(RTOS_PATH)/arch/xtensa" if BOARD_ESP32_S3
    default "$(RTOS_PATH)/arch/aarch64" if BOARD_RASPBERRYPI_4B
